{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Departure Delay Prediction</title>
    <link rel="stylesheet" href="{% static 'prediction.css' %}">
</head>
<body>
<div class="container">
    <h1>Flight Departure Delay Prediction</h1>
    <form action="{% url 'flight_departure_delay_result' %}" method="get" class="flight-form">
        {% csrf_token %}

        <!-- arrival_delay.html -->

        <label for="origin">Origin:</label>
        <select id="origin" name="origin" required>
            <option value=""></option>
            {% for airport_data in delay_origin %}
                <option value="{{ airport_data.3 }}">{{ airport_data.0 }} - {{ airport_data.2 }}</option>
            {% endfor %}
        </select>

        <label for="destination">Destination:</label>
        <select id="destination" name="destination" required>
            <option value=""></option>
            {% for airport_data in delay_destination %}
                <option value="{{ airport_data.3 }}">{{ airport_data.0 }} - {{ airport_data.2 }}</option>
            {% endfor %}
        </select>


        <label for="airline_code">Airline:</label>
        <select id="airline_code" name="airline_code" required>
            <option value=""></option>
            {% for airline in airline_code %}
                <option value="{{ forloop.counter0 }}">{{ airline.0 }}</option>
            {% endfor %}
        </select>


        <label for="departure_date">Departure Date: </label>
        <input type="date" id="departure_date" name="departure_date" required>

        <label for="departure_time">Departure Time:</label>
        <input type="time" id="departure_time" name="departure_time" required>

        <label for="arrival_date">Arrival Date: </label>
        <input type="date" id="arrival_date" name="arrival_date" required>

        <label for="arrival_time">Arrival Time:</label>
        <input type="time" id="arrival_time" name="arrival_time" required>


        <div class="checkbox-container">
            <label class="checkbox-label">
                <span class="checkbox-text">Diverted:</span>
                <input type="checkbox" class="checkbox-input" id="toggle" name="diverted">
                <span class="checkbox-slider"></span>
            </label>
        </div>


        <input type="submit" value="Get Predictions">
    </form>
</div>
</body>
</html>